@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
body {
  font-family: "Open Sans", sans-serif; }

.navbar.navbar-default {
  background-color: white;
  border: none;
  margin: 0; }
  .navbar.navbar-default .navbar-toggle {
    background-color: #418BCC;
    padding: 4px;
    line-height: 20px;
    margin-right: 5em; }
    .navbar.navbar-default .navbar-toggle span.icon-bar {
      background-color: white;
      height: 4px;
      width: 30px;
      border-radius: 7px;
      margin: 5px 0; }
  .navbar.navbar-default ul li {
    margin-right: 40px; }
  .navbar.navbar-default .login-button {
    margin-top: 7px;
    width: 85px; }
  .navbar.navbar-default .navbar-brand {
    font-size: 28px;
    font-weight: 700; }
    .navbar.navbar-default .navbar-brand span.snap {
      color: #508ABC; }
    .navbar.navbar-default .navbar-brand span.grid {
      color: #6F7376; }

.jumbotron, .jumbotron > .container {
  background-image: url("../images/hero-image.jpg");
  background-size: cover;
  padding: 0;
  margin: 0; }
  .jumbotron > .container, .jumbotron > .container > .container {
    width: 100%;
    text-align: center;
    background-image: none;
    padding: 80px 0;
    background-color: RGBA(0, 0, 0, 0.35); }
    .jumbotron > .container .col-sm-3 > h1, .jumbotron > .container > .container .col-sm-3 > h1 {
      color: white;
      font-size: 44px; }
    .jumbotron > .container .col-sm-7 > h4, .jumbotron > .container > .container .col-sm-7 > h4 {
      color: white;
      line-height: 12px;
      margin-top: 12px; }

div.container.below-snap {
  color: #929699;
  margin: 0 15px; }
  div.container.below-snap .row.top-text .col-sm-7,
  div.container.below-snap .row.top-text .col-sm-4 {
    padding: 0; }
    div.container.below-snap .row.top-text .col-sm-7 h3,
    div.container.below-snap .row.top-text .col-sm-4 h3 {
      font-weight: 700; }
      div.container.below-snap .row.top-text .col-sm-7 h3 span,
      div.container.below-snap .row.top-text .col-sm-4 h3 span {
        font-size: 26px; }
  div.container.below-snap > p {
    line-height: 24px;
    margin: 25px 0; }
  div.container.below-snap > button {
    width: 270px; }
  div.container.below-snap hr {
    background-color: #BEBEBE;
    height: 1px;
    width: 100%; }
  div.container.below-snap div.row.boxes-above-images div.container {
    background-color: #F0F0F0;
    margin-bottom: 20px;
    color: #929699;
    border-radius: 4px;
    padding: 20px 15px; }
    div.container.below-snap div.row.boxes-above-images div.container > h4 {
      font-weight: 700; }
    div.container.below-snap div.row.boxes-above-images div.container > p {
      line-height: 24px; }
    div.container.below-snap div.row.boxes-above-images div.container > hr {
      margin: 0 20px; }
  div.container.below-snap div.row.boxes-above-images div.row .col-sm-3 img,
  div.container.below-snap div.row.boxes-above-images div.row .col-xs-6 img {
    height: 100%;
    width: 100%;
    background-size: contain; }
  div.container.below-snap div.row.boxes-above-images div.row .col-sm-3 span,
  div.container.below-snap div.row.boxes-above-images div.row .col-xs-6 span {
    display: block;
    margin: 3px 0 10px 20px; }
  div.container.below-snap div.row.boxes-above-images div.row div.col-sm-7 h3 {
    font-weight: 700; }
    div.container.below-snap div.row.boxes-above-images div.row div.col-sm-7 h3 span {
      font-size: 26px; }
  div.container.below-snap div.row.boxes-above-images div.row div.col-sm-4 div.container.bike {
    width: 100%;
    padding: 0;
    background-color: white; }
    div.container.below-snap div.row.boxes-above-images div.row div.col-sm-4 div.container.bike img {
      background-size: contain;
      height: 100%;
      width: 100%; }

footer.navbar-default {
  background-color: #3A414A;
  color: #929699;
  padding: 20px 30px 30px 30px; }
  footer.navbar-default .row h3 {
    font-weight: 700; }
  footer.navbar-default .row p {
    margin-bottom: 50px;
    line-height: 24px; }
  footer.navbar-default .row span {
    display: block;
    line-height: 24px; }
  footer.navbar-default .row span.about-us {
    text-decoration: underline; }
  footer.navbar-default .row span.about-us:last-child {
    margin-bottom: 50px; }

@media screen and (min-width: 768px) {
  .jumbotron .container .col-sm-3 h1 {
    line-height: 12px; }
  .jumbotron .container .col-sm-7 {
    line-height: 12px;
    text-align: left; }
  div.container.below-snap {
    margin: 0 auto; }
    div.container.below-snap .row.top-text {
      padding: 0 15px; }
      div.container.below-snap .row.top-text .col-sm-4 button {
        width: 100%;
        margin-top: 20px; }
    div.container.below-snap .row.divider {
      padding: 0 15px; }
    div.container.below-snap .row.boxes-above-images {
      margin: 0; }
      div.container.below-snap .row.boxes-above-images > .container {
        border: 10px solid white;
        padding: 0; }
      div.container.below-snap .row.boxes-above-images > .container.col-sm-4.left {
        border-left: none; }
      div.container.below-snap .row.boxes-above-images > .container.col-sm-4.right {
        border-right: none; } }

@media screen and (min-width: 992px) {
  .jumbotron .container div.col-sm-3 h1 {
    line-height: 24px;
    font-size: 56px; }
  .jumbotron .container div.col-sm-7 h4 {
    text-align: left;
    font-size: 26px;
    line-height: 17px; } }

@media screen and (min-width: 1200px) {
  .jumbotron div.container div.col-lg-12 h4 {
    text-align: center; }
  .jumbotron div.container div.col-lg-12 h4:first-child {
    margin-top: 30px; }
  .container.below-snap div.row.top-text div.col-lg-10 h3 {
    font-size: 32px; }
  .container.below-snap div.row.top-text div.col-lg-10 p {
    font-size: 18px; } }
